<!DOCTYPE html>
<html ng-app="TodoList">
  <head>
    <meta charset="UTF-8">
    <title>Your Todo List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="js/vendor/underscore.js"></script>
    <script type="text/javascript" src="js/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/vendor/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/todoCtrl.js"></script>

    <link rel="stylesheet" href="stylesheets/todo.css">
    <link rel="stylesheet" href="stylesheets/vendor/bootstrap.min.css">
  </head>
  <body style="background-color: #EBEBEB">
    <div ng-controller="TodoCtrl">
      <h2 align="center"> Total of Todo's: {{getTotalTodos()}}</h2>
      <div class="panel panel-primary panel-text-not-overflow col-xs-12 col-md-12">
        <ul class="list-group" ng-repeat="todo in todos">
          <li class="list-group-item" style="background-color: {{todo.color}}">
            <div class="checkbox">
              <input type="checkbox" ng-model="todo.done" />
              <h4 for="checkbox" class="done-{{todo.done}}">
                {{todo.text}}
              </h4>
            </div>
          </li>
        </ul>
      </div>
      <form name="todoForm" class="form large" action="index.html" method="post">
        <input type="text" class="form-control input-lg" ng-model="formTodoText" placeholder="Put your TODO here" required ng-minlength="3" ng-maxlength="150" ng-model-instant>
        <button type="button" class="btn btn-success btn-lg col-xs-12 col-md-12" ng-click="todoForm.$valid && addTodo()" name="addTodoBtn" >Add</button>
      </form>
      <button class="btn btn-danger btn-lg col-xs-12 col-md-12" ng-click="clearCompleted()">Clear list</button>
    </div>
  </body>
</html>
